h1
{
	color: navy;
	font-style: italic;
	text-align: center;
	font-size: 5em;
	margin: 0px;
	font-weight: bold;
}

article,
aside
{
	border: 1px solid navy;
	border-radius: 4px;
	margin-top: 10px;
	vertical-align:top;
}

aside
{
	display:none;
}

article
{
	min-height:140px;
}

form
{
	margin: 2px;
}

.erreur
{
	border-radius: 4px;
	border: 1px solid red;
	background-color: AntiqueWhite;
	color:red;
	padding:10px;
}

.erreur p
{
	font-weight:bold;
	margin:0px;
}

.no_erreur
{
	border-radius: 4px;
	border: 1px solid green;
	background-color: LightGreen;
	color:green;
	padding:10px;
}

/*barre de navigation---------------------------------------------------------------*/
nav ul
{
	background-color: navy;
	padding: 10px;
	border-radius: 5px;
}
nav ul li
{
	display:inline-block;
	width:150px;
	text-align:center;
	border:1px solid white;
	margin:0px;
	padding:5px;
	border-radius: 5px;
}

nav ul li a
{
	padding: 5px;
	color:white;
}

/*page acceuil----------------------------------------------------*/
div.vehicule_acceuil
{
	display:table;
	float:left;
	width:100px;
	height:100px;
	text-align:center;
	margin:10px;
	padding:5px;
	border-radius: 5px;
	background-color:blue;
	border: 5px outset navy;
}

div.parent_vehicule_acceuil
{
	margin:auto;
}

div.vehicule_acceuil a
{
	color:white;
	vertical-align:middle;
	display:table-cell;
}

table
{
	text-align:center;
	width:100%;
}

table tr td
{
	
	border: 1px solid black;
}

table
{
	border-collapse: collapse;
}

/*page synthese vehicule-------------------------------------------------*/
article div.synthese_vehicule
{
 	text-align:center;
 	border-bottom: 1px solid navy;
 	padding:10px 10px 30px 10px;
}

article div.synthese_vehicule h3
{
	margin: -10px -10px 0px -10px;
	padding: 5px;
	color: white;
	background: blue;
}
article div.synthese_vehicule p
{
	margin:5px;	
}

article div.infos_vehicule
{
	background:navy;
	color:white;
}

article div.infos_vehicule h2
{
	margin: 0px;
}

.echeance
{
	color:red;
	background:yellow;
	font-weight: bold;
}

article.synthese_vehicule
{
	width: 79%;
}

aside.synthese_vehicule
{
	width: 20%;
	background-color:wheat;
}

aside.synthese_vehicule,
article.synthese_vehicule
{
	display:inline-block;
}
aside.synthese_vehicule h3
{
	margin: 0px;
	text-align: center;
	background: navy;
	color: white;
}

aside.synthese_vehicule ul
{
	list-style-type: none;
	padding:0px;
	margin:0px;
}

aside.synthese_vehicule ul li
{
	border-bottom:1px solid navy;
	padding:10px;
}

aside.synthese_vehicule ul li.lien_modif
{
	border: medium none;
	background-color: blue;
	text-align: center;
}

aside.synthese_vehicule ul li a
{
	color:white;
}

form.form_kilometrage input,
form.form_kilometrage legend
{
	width: 150px;
	display: inline-block;
}

/*formulaire operation ----------------------------------------------------------*/
form.form_operation
{
	padding:10px;
	width:400px;
	margin:10px auto 10px auto;
	border:1px solid blue;
	border-radius:5px;
}
	
form.form_operation h2
{
	background-color: blue;
	color: white;
	text-align: center;
	margin: -10px -10px 10px;
}

div.form_operation
{
	margin:5px;
}

div.form_operation input:not([type="checkbox"]),
div.form_operation select,
div.form_operation label
{	
	display:inline-block;	
}

div.form_operation input:not([type="checkbox"]),
div.form_operation select
{
	width:150px;
	float:right;
}

div.form_operation label
{
	width:auto;
}

div.form_operation input[type="submit"],
div.form_operation input[type="reset"]
{
	width:49%;
	background:blue;
	color:white;
	float:none;
}

form.form_operation fieldset textarea
{
	width: 100%;
	resize: vertical;
	height:100px;
}
/*
div.form_operation
{
	padding:10px;

}
form.form_operation input:not([type="checkbox"]),
form.form_operation select
{
	height: 30px;
	margin-bottom: 5px;

}

form.form_operation input:not([type="checkbox"]),
form.form_operation select,
form.form_operation label
{	
	width:170px;
	display:inline-block;	
}

form.form_operation label.label_checkbox
{
	width:auto;
}


*/

/*formulaire vehicule------------------------------------------------------*/
form.form_vehicule
{
	padding:10px;
	width:400px;
	margin:10px auto 10px auto;
	border:1px solid blue;
	border-radius:5px;
}

form.form_vehicule h2
{
	background-color: blue;
	color: white;
	text-align: center;
	margin: -10px -10px 10px;
}

div.form_vehicule
{
	margin:10px;
}

div.form_vehicule.erreur
{
	margin:10px -2px 10px -2px;
}

div.form_vehicule input:not([type="checkbox"]),
div.form_vehicule select,
div.form_vehicule label
{	
	display:inline-block;	
}

div.form_vehicule input:not([type="checkbox"])
{
	width:150px;
	float:right;
}

div.form_vehicule label
{
	width:auto;
}

div.form_vehicule input[type="submit"],
div.form_vehicule input[type="reset"]
{
	width:49%;
	background:blue;
	color:white;
	float:none;
}
	
	
div.retour_vehicule
{
	text-align: center;
	background: blue none repeat scroll 0% 0%;
	color: white;
	width: 60%;
	margin: 0px auto 10px;
	border: 2px outset;
}

div.retour_vehicule a
{
	color: white;
	text-decoration: none;
}	

	
	
@media only screen and (max-width: 990px) 
{
	nav ul li
	{
		display:block;
		list-style: none;
		width: auto;
		margin-top: 5px;
	}

	aside.synthese_vehicule,
	article.synthese_vehicule
	{
		display:block;
		width: 100%;
	}

	h1
	{
		font-size: 4em;
	}

	form.form_operation
	{
		width: auto;
		margin: 10px;
	}
}