article,
aside
{
	border: 1px solid blue;
	border-radius: 4px;
	margin-top: 10px;
	display: inline-block;
	vertical-align:top;
}

article
{
	width: 79%;

}

nav ul
{
	background-color: navy;
	padding: 10px;
	border-radius: 5px;
}
nav ul li
{
	display:inline-block;
	width:150px;
	text-align:center;
	border:1px solid white;
	margin:0px;
	padding:5px;
	border-radius: 5px;
}

nav ul li a
{
	background-color: navy;
	padding: 5px;
	color:white;
}

ul.vehicule_acceuil li
{
	display:inline-block;
	width:100px;
	height:100px;
	text-align:center;
	border:1px solid white;
	margin:auto;
	padding:5px;
	border-radius: 5px;
}

table.infos_vehicule td 
{
		font-size: 2em;
}

table tr td
{
	
	border: 1px solid black;
}

table
{
	border-collapse: collapse;
}

article div.infos_vehicule,
article div.ope_a_echeance,
article div.ope_a_venir,
article div.kilometrage
{
	border-bottom: 1px solid blue;
}

article div.infos_vehicule h2
{
	background-color: silver;
	margin: 0px;
	padding: 20px;
}

aside
{
	width: 20%;
}


form.form_kilometrage input,
form.form_kilometrage legend
{
	width: 150px;
	display: inline-block;
}

div.form_operation,
div.form_vehicule,
.erreur
{
	padding:10px;
	/*display: inline-block;
	vertical-align: top;
	width: 49%;*/

}
form.form_operation input:not([type="checkbox"]),
form.form_operation select
{
	height: 30px;
	margin-bottom: 5px;

}

form.form_operation input:not([type="checkbox"]),
form.form_operation select,
form.form_operation label
{	
	width:170px;
	display:inline-block;	
}

form.form_operation label.label_checkbox
{
	width:auto;
}

form.form_operation textarea
{
	width: 100%;
}


div.form_vehicule input:not([type="checkbox"]),
div.form_vehicule select,
div.form_vehicule label
{	
	width:300px;
	display:inline-block;	
}

.erreur
{
	border-radius: 4px;
	border: 1px solid red;
	background-color: AntiqueWhite;
	color:red;

}

.no_erreur
{
	border-radius: 4px;
	border: 1px solid green;
	background-color: LightGreen;
	color:green;
	padding:10px;
}
}
